:root {
  --font-size-main-content-button: 2.5rem;
  --border-thickness-main-content-button: 0.5rem;
  --font-style-button: uppercase;
  --font-weight-button: 900;
  --button-border-style: solid;
  --button-padding: var(--padding-top-style-button)
    var(--padding-left-style-button);
  --button-border: var(--border-thickness-button) var(--button-border-style)
    var(--border-color-button);
  --border-thickness-button: 2px;
  --border-color-button: black;
  --align-style-button: center;
  --padding-top-style-button: 1.2rem;
  --padding-left-style-button: 4rem;
  --border-radius-button: 0 * 3px;
  --border-color-main-content-button: white;
  --font-color-main-content-button: white;
  --background-color-main-content-button: transparent;
  --background-color-button: transparent;
  --btn-margin: 1rem 1rem 1rem 0;
  --btn1-padding: 1rem 2.5rem;
  --btnsmall-padding: 0.8rem 1.25rem;
  --btnlarge-padding: 1.25rem 3rem;
  --btnwidesmall-padding: var(--btnsmall-padding);
  --btnwidesmall-width: var(--btnwide-width);
  --btnwide-width: 30rem;
  --btn1-color-background: black;
  --btn1-color-font: white;
  --btn1-color-font-hover: var(--blue-color-variation);
  --btn1-color-background-hover: var(--blue-color-variation);
  --btn2-color-background: white;
  --btn2-color-font: black;
  --btn2-color-font-hover: var(--blue-color-variation);
  --btn2-color-border-hover: var(--blue-color-variation);
  --btn2-padding: var(--btn1-padding);
  --btnsmall-font-size: 0.7rem;
  --button-font-color: var(--blue-color-variation);
  --button-border-color: var(--blue-color-variation);
  --button-cursor-type: pointer;
  --button-form-border: 2.5px solid black;
  --button-form-font-size: 0.8rem;
  --button-form-font-width: 12rem;
  --button-form-background-color: transparent;
}

.model__button {
  text-transform: var(--font-style-button);
  text-align: var(--align-style-button);
  font-weight: var(--font-weight-button);
  border-radius: var(--border-radius-button);
  padding: var(--button-padding);
  border: var(--button-border);
  background: var(--background-color-button);
  cursor: var(--button-cursor-type);
  transition: 200ms linear;
}

.model__button:hover {
  color: var(--button-font-color);
  border-color: var(--button-border-color);
}

.main__content__button {
  transform: translateY(20rem);
  padding: 1rem 2rem;
  font-size: var(--font-size-main-content-button);
  background-color: var(--background-color-main-content-button);
  border: var(--border-thickness-main-content-button) var(--button-border-style)
    var(--border-color-main-content-button);
  color: var(--font-color-main-content-button);
}

.form__button {
  font-size: var(--button-form-font-size) !important;
  border: var(--button-form-border);
  width: var(--button-form-width) !important;
  background: var(--button-form-background-color);
}

.btn1 {
  padding: var(--btn1-padding);
  margin: var(--btn-margin);
  color: var(--btn1-color-font);
  background: var(--btn1-color-background);
}

.btnsmall {
  padding: var(--btnsmall-padding);
  font-size: var(--btnsmall-font-size);
}

.btnlarge {
  padding: var(--btnlarge-padding);
}

.btnwide {
  width: var(--btnwide-width);
}

.btnwidesmall {
  padding: var(--btnwidesmall-padding);
  font-size: var(--btnsmall-font-size);
  width: var(--btnwidesmall-width);
}

.btn1:hover {
  color: var(--btn1-color-font);
  background: var(--blue-color-variation);
}

.btn2 {
  padding: var(--btn2-padding);
  margin: var(--btn-margin);
}
