:root {
  --container2-text-margin: 4rem 0 6rem 8rem;
  --container2-text-width: 59vw;
  --container2-line-height: 2.7rem;
  --container2-font-style: italic;
  --container2-text-align: justify;
  --container2-text-font-size: 1.2rem;
}

.container2__text {
  margin: var(--container2-text-margin);
  width: var(--container2-text-width);
  line-height: var(--container2-line-height);
  font-style: var(--container2-font-style);
  text-align: var(--container2-text-align);
  font-size: var(--container2-text-font-size);
}
