:root {
  --gray-color-variation: rgb(246, 246, 246);
  --gray-color-variation2: rgb(238, 238, 238);
  --container3-main-cards-item: 35vw;
  --container3-main-cards-item-ul: 3rem 0 0 0;
  --container3-main-cards-item-ol: 3rem 0 0 0;
  --container3-main-def-width: 50vw;
  --container3-blockquote-width: 65rem;
  --container3-blockquote-p-margin: 3rem;
  --container3-span-padding: 0.3rem 1rem;
  --container3-span-background-color: var(--gray-color-variation1);
  --container3-span-border-color: var(--gray-color-variation2);
}

.container3 main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: left;
  width: 53vw;
}

.container3__buttons {
  width: 65vw !important;
}

.container3 span {
  padding: var(--container3-span-padding);
  background: var(--container3-span-background-color);
  border: 2px solid var(--container3-span-border-color);
  letter-spacing: 0.25rem;
}

.container3__main__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: stretch;
  margin: 0 0 5rem 0;
}

.container3__main__cards__item {
  width: var(--container3-main-cards-item);
}

.container3__main__cards__item ul {
  margin-left: var(--container3-main-cards-item-ul);
  justify-content: space-around;
}

.container3__main__cards__item ul > li::before {
  content: ".";
  font-size: 3rem;
  line-height: 2rem;
  margin-right: 1rem;
}

.container3__main__cards__item ol > li::before {
  font-size: 1rem;
  line-height: 2rem;
  margin-right: 0.5rem;
}

.container3__main__cards__item ol > #olLi1::before {
  content: "1.";
}

.container3__main__cards__item ol > #olLi2::before {
  content: "2.";
}

.container3__main__cards__item ol > #olLi3::before {
  content: "3.";
}

.container3__main__cards__item ol > #olLi4::before {
  content: "4.";
}

.container3__main__cards__item ol > #olLi5::before {
  content: "5.";
}

.container3__main__cards__item ol {
  margin-left: var(--container3-main-cards-item-ol);
}

#idCont3li1 i {
  margin: 1rem 2rem 2rem 0;
}

#idCont3li2 i {
  margin: 1rem 1.4rem 2rem 0;
}

#idCont3li1::before,
#idCont3li2::before {
  content: "";
}

#idCont3li2 i {
  margin: 1rem 1.4rem 2rem 0;
}

#idCont3li1 i:hover,
#idCont3li2 i:hover {
  color: var(--blue-color-variation);
}

#idCont3li2 i {
  border-radius: 50%;
  padding: 0.6rem 0.6rem;
  color: var(--gray-color-variation3);
  border: 2px solid transparent;
}

#idCont3li2 i:hover {
  color: var(--footer-form-icons-color);
  border-color: var(--blue-color-variation);
}

.container3__list {
  display: flex;
}

.container3__heading {
  display: block;
}

.container3__main__def {
  width: var(--container3-main-def-width);
}

.container3__blockquote {
  width: var(--container3-blockquote-width);
}

.container3__blockquote p {
  margin: var(--container3-blockquote-p-margin);
  width: 52vw;
  line-height: 2.5rem;
}

.container3__blockquote p:before {
  content: url("asset/pic07.jpg");
}

.container3__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0 0 0;
}

.container3__photos img {
  margin: 1rem 1rem 0 0;
}

.container3__leftRight p {
  line-height: 2.7rem;
}

#imgLeft {
  margin: 1rem 2rem 0 0;
  width: 360px;
  max-width: 310px;
  height: 360px;
  max-height: 310px;
  object-fit: cover;
  overflow: hidden;
  float: left;
}

#imgRight {
  margin: 1rem 0 0 2rem;
  width: 360px;
  max-width: 310px;
  height: 360px;
  max-height: 310px;
  object-fit: cover;
  overflow: hidden;
  float: right;
}

#imgLeft:hover,
#imgRight:hover,
.container3__photos img:hover,
#imgfit1:hover {
  transform: scale(1);
}

.container3__box {
  border: 2px solid var(--gray-color-variation2);
  border-radius: 3px;
  width: 55vw;
}

.container3__box p {
  line-height: 2.4rem;
  padding: 1rem;
  margin: 1rem;
}

.container3__preformated p {
  width: 55vw;
  padding: 1.5rem 3rem;
  margin-bottom: 10rem;
  line-height: 1.3rem;
  letter-spacing: 2px;
  border: 2px solid var(--gray-color-variation2);
  background: var(--gray-color-variation);
  font-family: "Courier New", Courier, monospace;
}

/* .container3__preformated span {
  padding: 0;
  margin: 0;
  border: transparent;
  font-family: "Courier New", Courier, monospace;
} */
