:root {
  --gray-color-variation3: rgb(55, 54, 54);
  --gray-color-variation4: rgb(167, 165, 165);
  --footer-form-background-color: var(--gray-color-variation);
  --footer-form-input-background-color: var(--gray-color-variation);
  --footer-form-textarea-background-color: var(--gray-color-variation);
  --footer-form-icons-color: var(--blue-color-variation);
}

footer {
  /* margin-top: 2rem; */
  margin-left: -2rem;
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: 80vw;
  background: var(--footer-form-background-color);
}

.footer__form {
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer__form input {
  padding: 1rem;
  margin: 1rem 4rem 1rem 0;
  width: 32vw;
  background: var(--footer-form-input-background-color);
}

.footer__form label {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
}

#message {
  padding-bottom: 10rem;
}

footer li {
  margin: 2rem;
  height: 4rem;
  white-space: nowrap;
}

footer li i {
  margin: 0 0.5rem;
}

textarea {
  width: 32vw;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  background: var(--footer-form-textarea-background-color);
  border: 2px solid black;
}

footer i {
  border-radius: 50%;
  padding: 1.2rem 0.6rem;
  color: var(--gray-color-variation3);
  border: 2px solid transparent;
}

footer i:hover {
  color: var(--footer-form-icons-color);
  border-color: var(--blue-color-variation);
}

#idli1{
  display: flex;
}