header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header p {
  margin-top: 5rem;
  margin-bottom: 6rem;
  font-size: 1.5rem;
}

.main__cards__header__text {
  width: 34vw;
  line-height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2.3rem;
  text-align: justify;
  font-size: 1rem;
}

.container__header__photo {
  margin: 0 0 3rem 0;
  overflow: hidden;
}

.container__header__photo img {
  width: var(--container1-header-text-photo-width);
  object-fit: cover;
  transition: 400ms ease-in;
  transition-delay: 100ms;
  /* animation-duration: 500ms;
  animation-name: imghoverscale; */
}

/* @keyframes imghoverscale {
  from {
    transform: scale(1);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  75% {
    transform: scale(1.025);
  }

  to {
    transform: scale(1.05);
  }
} */

.container__header__photo img:hover {
  transform: scale(1.05);
}
