:root {
  --color-navbar-line: var(--blue-color-variation);
  --background-color-navbar: white;
  --width-navbar: 80vw;
}

nav {
  display: flex;
  width: var(--width-navbar);
  transform: translate(-2rem, -7.3rem);
  background-color: var(--background-color-navbar);
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: var(--font-weight);
}

nav li {
  margin-left: 1rem;
  margin-right: 5rem;
  cursor: pointer;
}

nav li:hover {
  color: var(--color-navbar-line);
}
