:root {
  --numberlist-background-color: black;
  --numberlist-idnumberli1-background-color: var(--gray-color-variation);
  --numberlist-idnumberli1-background-color-hover: var(
    --numberlist-idnumberli1-background-color
  );
  --numberlist-idnumberli2-border-color-hover: var(
    --numberlist-idnumberli1-background-color
  );
  --numberlist-ul-border-margin: 3rem 0 5rem;
  --numberlist-li-font-weight: var(--font-weight);
  --numberlist-li-background-color: var(--gray-color-variation);
  --numberlist-li-border-thickness: 2px;
  --numberlist-li-border-padding: 1rem 1.2rem;
  --numberlist-li-border-margin-hover: var(--numberlist-li-margin) 0;
  --numberlist-li-border-thickness-hover: 4px;
  --numberlist-li-border-color-hover: var(--blue-color-variation);
  --numberlist-li-margin: calc(
    var(--numberlist-li-border-thickness) -
      var(--numberlist-li-border-thickness-hover)
  );
}

.main__numberlist ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--numberlist-ul-border-margin);
}

.main__numberlist li {
  font-weight: var(--numberlist-li-font-weight);
  padding: var(--numberlist-li-border-padding);
  border: var(--numberlist-li-border-thickness) var(--button-border-style)
    var(--numberlist-li-background-color);
}

.main__numberlist li:hover {
  margin: var(--numberlist-li-border-margin-hover);
  color: var(--numberlist-li-border-color-hover);
  border: var(--numberlist-li-border-thickness-hover) var(--button-border-style)
    var(--numberlist-li-border-color-hover);
}

#idNumberLi1 {
  background: var(--numberlist-idnumberli1-background-color);
}

#idNumberLi2:hover {
  color: var(--numberlist-idnumberli2-background-color-hover);
  border-color: var(--numberlist-idnumberli2-border-color-hover);
}
